<div class="row">
  <div class="col-md-4">
    <%= f.field_container :event_id, :class => ['form-group'] do %>
        <%= f.label :event_id, raw(Spree.t("spree_web_hooks.event") + content_tag(:span, ' *', :class => 'required')) %>
        <%= f.select :event_id, Spree::WebHooks::Event.order(name: :desc).pluck(:name, :id).map { |o| [Spree.t("spree_web_hooks.#{o[0]}.name"), o[1]] }, {}, class: "select2" %>
        <%= f.error_message_on :event_id %>
    <% end %>

    <%= f.field_container :address, :class => ['form-group'] do %>
        <%= f.label :address, raw(Spree.t("spree_web_hooks.address") + content_tag(:span, ' *', :class => "required")) %>
        <%= f.text_field :address, :class => 'form-control title' %>
        <%= f.error_message_on :address %>
    <% end %>

    <%= f.field_container :content_type, :class => ['form-group'] do %>
        <%= f.label :content_type, raw(Spree.t("spree_web_hooks.content_type") + content_tag(:span, ' *', :class => "required")) %>
        <%= f.select :content_type, [['application/json', 1], ['application/x-www-form-urlencoded', 2]], {}, {class: 'select2'} %>
        <%= f.error_message_on :content_type %>
    <% end %>

    <%= f.field_container :send_data, :class => ['form-group'] do %>
        <div class="alert alert-warning">
          <h4>Entenda os riscos:</h4>

          Utilizando a opção de enviar dados no formato JSON, você ou um terceiro esta se responsabilizando com a
          recepção dos dados. Caso queira que a URL apenas receba uma notificação via POST contendo infoemações
          para serem acessadas posteriormente pela API, deixe desabilitado o campo abaixo.
        </div>
        <%= f.label :send_data, raw(Spree.t("spree_web_hooks.send_data")) %>
        <%= f.check_box :send_data, {} %>
        <%= f.error_message_on :send_data %>
    <% end %>
  </div>
</div>
